@import "libs/bootstrap"; //plugins scss files
@import "fonts/fonts"; // fonts
@import "plugins/swiper"; //plugins scss files
@import "plugins/select2"; //plugins scss files
@import "fonts/fonts"; //fonts scss files
@import "vendors/normalize"; //normalize scss files
@import "vendors/variables"; //variables scss files
@import "plugins/pagination"; //pagination
@import "components/modal"; //pagination
body {
    background: url('../../img/bg.png');
    background-repeat: repeat;
    overflow-x: hidden;
}

header {
    .menu-links {
        position: relative;
        display: inline-block;
        color: #fff;
        height: 36px;
        font-weight: 700;
        @include transition(all .1s);
        line-height: 33px;
        border-radius: 15px 15px 0 0;
        &:hover,
        &.active a {
            background: #80ba26;
        }
        .sub-menu {
            position: absolute;
            white-space: nowrap;
            top: 36px;
            left: 0;
            background: #80ba26;
            background: -moz-linear-gradient(top, #80ba26 0%, #80ba26 0%, #6da11c 99%);
            background: -webkit-linear-gradient(top, #80ba26 0%, #80ba26 0%, #6da11c 99%);
            background: linear-gradient(to bottom, #80ba26 0%, #80ba26 0%, #6da11c 99%);
            z-index: 11;
            text-align: left;
            a {
                display: block;
                &:hover {
                    background: transparent;
                }
            }
            display: none;
            &.active {
                display: block;
                a {
                    background: transparent !important;
                }
            }
        }
    }
    .row {
        margin: 0;
    }
}

.btn {
    outline: none !important;
}

#modal__open {
    font-family: $paragraph;
    color: #568d00;
    display: inline-block;
    margin: 0 0 0 10px;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        color: #333333;
    }
}

.langs {
    font: {
        family: $paragraph;
        size: 16px;
    }
    padding: 14px 15px 0 0;
    height: 49px;
    a {
        color: #c8c8c8 !important;
        margin: 0 0 0 10px;
        &.active {
            text-decoration: underline;
        }
    }
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.container {
    position: relative;
}

.top-ge {
    height: 87px;
    padding-top: 29px !important;
    img {
        width: 88px !important;
        height: 31px !important;
    }
}

.event {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 70px;
    left: 120px;
    padding: 59px 59px 45px 59px;
    z-index: 2;
    font: {
        family: $title;
        size: 75px;
        weight: 700;
    }
    color: #fff;
    background: rgba(223,
    228,
    199,
    0.76);
    text-shadow: 1px 1px 1px rgba(0,
    0,
    0,
    0.44);
    line-height: 70px;
    @media screen and (max-width: 1024px) {
        font-size: 45px;
        padding: 40px 59px 25px;
    }
    @media screen and (max-width: 768px) {
        font-size: 35px;
        padding: 10px 59px 5px;
        top: 50px;
        left: 90px;
    }
    @media screen and (max-width: 425px) {
        font-size: 18px;
        padding: 10px 29px 5px;
        top: 30px;
        line-height: 52px;
        left: 60px;
    }
    &::before {
        position: absolute;
        content: '';
        top: -8px;
        left: -8px;
        width: 8px;
        height: 90%;
        background: #80ba26;
    }
    &::after {
        position: absolute;
        content: '';
        top: -8px;
        left: 0;
        width: 90%;
        height: 8px;
        background: #80ba26;
    }
}

.map__ {
    margin: 0 0 50px;
    img {
        width: 100%;
        border-bottom: 1px solid #d2d4d5;
    }
}

.solid-line {
    position: relative;
    width: 100%;
    height: 42px;
    background: #dfe4c7;
    font-size: 21px;
    color: #fff;
    padding: 7px 0 7px 33px;
    border-radius: 14px 0 0 14px;
    margin: 0 0 27px;
    font: {
        family: $title;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 42px;
        background: #dfe4c7;
        right: -100%;
        top: 0;
    }
    .moto {
        line-height: 34px;
        letter-spacing: .4px;
        font-size: 18px;
    }
    a {
        color: #40690a !important;
    }
    @media screen and (max-width: 999px) {
        .moto {
            display: none;
        }
        .col-xs-4 {
            width: 100%;
            text-align: center;
        }
        .phone {
            float: none;
        }
    }
}

.flex-label {
    display: flex;
    align-items: center;
    label {
        margin: 0;
    }
}

.user-logout {
    color: #426b0b;
    font-family: $title;
    font-size: 16px;
    img {
        position: relative;
        top: -3px;
    }
    span {
        display: inline-block;
        margin: 0 15px;
    }
    .btn-primary {
        background: #5f9117;
        border-radius: 18px;
        border: 0;
        width: 100px;
        height: 30px;
        padding: 6px;
    }
}

.brand {
    display: block;
    img {
        margin: 27px 0 0 0;
        width: 169px;
        height: 63px;
    }
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.phone {
    float: right;
    color: #40690a;
    font-size: 21px;
    font-family: $title;
    font-weight: 700;
    span {
        display: inline-block;
        position: relative;
        vertical-align: top;
        top: 2px;
    }
    img {
        display: inline-block;
        margin: 4px 14px 0 0;
        vertical-align: top;
    }
}

.excell-row {
    display: block;
    margin: 20px 0;
    color: #6c9f20;
    font: {
        family: $paragraph;
        size: 14px;
    }
}

.folder-container {
    display: block;
    text-decoration: none;
    color: #6c9f20;
    text-align: center;
    .folder {
        width: 100%;
    }
    span {
        display: block;
        margin: 10px 0;
    }
}

.presentation.full {
    width: 100%;
    .btn {
        border-right: 1px solid #090a11;
        border-radius: 10px 10px 0 0;
    }
}

.dropdown-menu {
    a {
        text-align: center;
        &:hover {
            color: #fff !important;
        }
    }
}

.header-top {
    height: 120px;
    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.navigation {
    position: relative;
    height: 52px;
    background: #c8c8c8;
    border-bottom: 8px solid #4c6131;
    text-align: center;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8px;
        background: #80ba26;
    }
    .bg {
        display: none;
        width: 100%;
        height: 108px;
        left: 0;
        top: 36px;
        position: absolute;
        background: #80ba26;
        background: -moz-linear-gradient(top, #80ba26 0%, #80ba26 0%, #6da11c 99%);
        background: -webkit-linear-gradient(top, #80ba26 0%, #80ba26 0%, #6da11c 99%);
        background: linear-gradient(to bottom, #80ba26 0%, #80ba26 0%, #6da11c 99%);
        z-index: 9;
        &.active {
            display: block;
        }
    }
    .line-1,
    .line-2 {
        position: absolute;
        top: 37px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #6ea31c;
    }
    .line-2 {
        top: 74px;
    }
    .main-nav {
        margin: auto;
        display: block;
        font-size: 15px;
        font-family: $title;
        a {
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            height: 36px;
            font-weight: 700;
            @include transition(all .1s);
            line-height: 33px;
            padding: 4px 28px;
            border-radius: 15px 15px 0 0;
            &:hover {
                background: #80ba26;
                text-decoration: none;
            }
        }
        a:lang(ka) {
            letter-spacing: .9px;
        }
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
    .navbar-nav {
        background: #80ba26;
        .open a {
            background: #4c6131;
        }
        a {
            color: #fff;
            font: {
                family: $paragraph;
            }
            &:hover {
                background: #4c6131;
            }
        }
    }
    @media screen and (max-width: 992px) {
        min-height: 52px;
        height: auto;
        .navbar-toggle {
            display: block !important;
            background-color: #80ba26;
            margin: 1px 0 0;
        }
        .icon-bar {
            background-color: #fff;
        }
        .navbar-nav {
            float: none !important;
            li {
                float: none !important;
            }
            margin: 7.5px -15px !important;
        }
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

.in-sub {
    position: relative;
    .sub-menu {
        position: absolute;
        background: red;
    }
}

.swiper-container,
.cover-image {
    margin: 0 0 36px 0;
    img {
        width: 100%;
        height: auto;
    }
}

#map {
    img {
        width: 100%;
    }
}

.news {
    .label {
        border-radius: 0;
        background: #80ba26;
        padding: 4px 10px 2px;
        margin: 0 15px 0 0;
        font-size: 11px;
        font-weight: 400;
    }
    a {
        color: #80ba26;
    }
    h3 {
        color: #80ba26;
        font: {
            family: $paragraph;
            size: 18px;
        }
    }
    p {
        font: {
            family: $paragraph;
            size: 15px;
        }
    }
    .news-list {
        border-bottom: 1px dotted #8b898a;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #cbcbcb;
    margin: 5px 0 20px 0;
}

.panel-default {
    border-radius: 10px;
    border: 2px solid #c8c8c8;
    .panel-heading {
        border-radius: 8px 8px 0 0;
        height: 32px;
        padding: 6px 18px;
        color: #fff;
        font: {
            size: 15px;
            family: $title;
            weight: 700;
        }
        a {
            color: #fff;
        }
    }
    .panel-heading:lang(ka) {
        letter-spacing: .9px;
    }
    .panel-gray-heading {
        background: #c8c8c8;
    }
    .color-green {
        color: #333;
        margin: 4px 0 0;
        font-size: 14px;
    }
    .panel-news-body {
        color: #5f624f;
        font: {
            size: 15px;
            family: $paragraph;
        }
    }
    .panel-footer {
        color: #fff;
        border-radius: 0 0 8px 8px;
        border-top: none;
        height: 32px;
        padding: 4px 0;
        font: {
            size: 18px;
        }
        background: #ffffff;
        background: -moz-linear-gradient(left,
        #ffffff 0%,
        #e4e8d4 100%);
        background: -webkit-linear-gradient(left,
        #ffffff 0%,
        #e4e8d4 100%);
        background: linear-gradient(to right,
        #ffffff 0%,
        #e4e8d4 100%);
    }
}

.panel-currency {
    border-color: #d8ddbf;
    background: #edf0de;
    margin: 0 0 34px 0;
    font: {
        family: $paragraph;
    }
    .panel-heading {
        background: #d8ddbf;
    }
    .panel-body {
        color: #969b7e;
        font: {
            size: 16px;
        }
    }
    img {
        width: 27px;
        height: 17px;
        vertical-align: top;
        display: inline-block;
        margin: 9px 0 9px 15px;
    }
    span {
        width: 35px;
        vertical-align: top;
        display: inline-block;
        margin: 8px 0 0;
    }
    .courses {
        text-align: center;
        border-left: 2px dotted #dadfc3;
    }
    .currency-title {
        font: {
            size: 15px;
        }
    }
    .row {
        height: 35px;
        &.title {
            font-size: 14px;
            height: 25px;
            p {
                margin: 0;
            }
        }
    }
    p {
        margin: 7px 0;
    }
}

.convertor-bg {
    background: #eaeaea;
}

.profile-min-height {
    min-height: 400px;
}

.nav-tabs {
    .left {
        border-radius: 10px 0 0 0;
    }
    .right {
        border-radius: 0 10px 0 0;
    }
    .btn {
        background: #80ba26;
        border-color: #40690a;
        color: #fff;
        font: {
            size: 16px;
            family: $title;
            weight: 700;
        }
        padding: 7px 12px 5px 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:active {
            color: #fff;
            box-shadow: none;
        }
        &:hover {
            background: #80ba26;
            border-color: #40690a;
        }
    }
    .active {
        .left {
            background: #40690a;
            border-top: 1px solid #090a11;
            border-left: 1px solid #090a11;
        }
        .right {
            background: #40690a;
            border-top: 1px solid #090a11;
            border-right: 1px solid #090a11;
        }
    }
}

.tab-content {
    background: #40690a;
    border-radius: 0 0 10px 10px;
    margin: 0 0 34px 0;
    label {
        color: #fff;
        font: {
            size: 14px;
            family: $title;
            weight: 400;
        }
    }
    input[type="text"],
    input[type="number"],
    select {
        height: 41px;
        border: 2px solid #80ba26;
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        font: {
            size: 14px;
            family: $paragraph;
            weight: 400;
        }
        box-shadow: none;
        outline: none;
        &:focus {
            border: 2px solid #80ba26;
            box-shadow: none;
        }
    }
    select {
        background: #fff url('../../img/green_select_arrow.png') no-repeat;
        background-position: right;
        background-size: auto 100%;
        padding: 6px 40px 6px 12px;
    }
    .btn {
        height: 34px;
        background: #80ba26;
        border: none;
        color: #fff;
        font: {
            size: 14px;
            family: $paragraph;
            weight: 400;
        }
        border-radius: 10px;
        padding: 0;
    }
    .row {
        margin: 7.5px 0;
    }
    .row,
    .col-md-5 {
        height: 41px;
    }
    .row.button {
        height: 34px;
    }
}

.error {
    text-align: center;
    font: {
        family: $title;
        size: 45px;
        weight: 700;
    }
    margin: 250px 0;
}

.convertor-style {
    select,
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
    .input-1 {
        border: 2px solid #c8c8c8;
        background: #fff;
        border-radius: 15px 0 0 15px;
    }
    .input-2 {
        border: 2px solid #c9ceae;
        background: #fff;
        border-radius: 15px 0 0 15px;
    }
    option {
        color: #333;
    }
    .covertor-select {
        padding: 6px;
        background: url(../../img/select_grey.png) #c8c8c8;
        background-size: 100px 45px;
        color: #fff;
        background-position: right;
        border: 2px solid #c8c8c8;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        background-repeat: no-repeat;
    }
    .select-2 {
        background: #c9ceae url('../../img/select_grey_2.png');
        background-size: 100px 45px;
        background-repeat: no-repeat;
        background-position: right;
        border-color: #c9ceae;
    }
}

.swiper-button-next {
    background-image: url('../../img/next.png');
}

.swiper-button-prev {
    background-image: url('../../img/prev.png');
}

.main-info {
    font: {
        size: 16px;
        family: $paragraph;
    }
    p {
        margin: 0;
        padding: 20px 25px;
        background: url('../../img/border_left.png') no-repeat, url('../../img/border_right.png') no-repeat;
        background-position: 0 0, 100% 100%;
    }
}

.align-middle {
    vertical-align: middle !important;
}

.about-container {
    background: url('../../img/border_left_green.png') no-repeat, url('../../img/border_right_green.png') no-repeat;
    background-position: top left, bottom right;
    padding: 33px;
    margin: 100px 0;
    p {
        font: {
            family: $paragraph;
            size: 15px;
            weight: 400;
        }
        color: #2c2c2c;
    }
}

.products,
.vacancy,
.investor,
.contact {
    h2,
    h3,
    h5 {
        color: #80ba26;
        font: {
            family: $paragraph;
            size: 18px;
            weight: 400;
        }
    }
    h2 {
        font-family: $title;
        font-weight: 700;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 15px;
        font-weight: 700;
        font-family: $paragraph;
        color: #2c2c2c;
    }
    .list {
        padding: 0 20px;
        color: #959595;
        font: {
            family: $paragraph;
            size: 15px;
            weight: 400;
        }
    }
    p {
        font: {
            family: $paragraph;
            size: 15px;
            color: #2c2c2c;
        }
    }
    .pdf-image {
        margin: 0 25px 0 0;
        img {
            width: 78px;
        }
    }
}

.investor {
    li {
        color: #2c2c2c;
    }
    .login {
        background: url('../../img/login_gradient.png') no-repeat;
        background-position: top left;
        background-size: 100% 100%;
        border: none;
        h3 {
            text-align: center;
            color: #fff;
        }
        label {
            color: #fff;
            font: {
                size: 15px;
                family: $paragraph;
                weight: normal;
            }
        }
        input {
            border-radius: 20px;
        }
        .btn {
            background: #80ba26;
            border: none;
            color: #fff;
            font: {
                size: 15px;
                family: $paragraph;
                weight: normal;
            }
            border-radius: 15px;
            height: 31px;
            span {
                position: relative;
                top: -2px;
            }
        }
    }
}

.contact {
    .list-unstyled {
        margin: 30px 0 0;
    }
    li {
        margin: 0 0 25px 0;
        font: {
            family: $paragraph;
            size: 15px;
        }
    }
}

.contact-form {
    h3 {
        color: #fff;
    }
    .panel {
        background-color: #dfe4c7;
        border: none;
    }
    input,
    textarea {
        border: none;
        border-radius: 15px;
        resize: none;
        font: {
            family: $paragraph;
        }
        -webkit-box-shadow: inset 1px 1px 1px rgba(0,
        0,
        0,
        0.49);
        -moz-box-shadow: inset 1px 1px 1px rgba(0,
        0,
        0,
        0.49);
        &:focus {
            -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
            -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
        }
    }
    .btn {
        background: #bfc5a1;
        border: none;
        color: #fff;
        font-family: $paragraph;
        border-radius: 15px;
    }
}

.map {
    margin: 0 0 50px 0;
}

footer {
    margin: 80px 0 0;
    font: {
        family: $title;
    }
    .partners {
        text-align: center;
        width: 100%;
        min-height: 82px;
        border-top: 1px dashed #a09f9f;
        background: #c8c8c8;
        .col-md-2 {
            min-height: 82px;
            display: flex;
            align-items: center;
            text-align: center;
            a {
                margin: auto;
                color: #fff;
                font-family: $paragraph;
                font-size: 14px;
            }
        }
        .col-xs-6 {
            img {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                max-width: 100%;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                transition: all .3s;
                &:hover {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                    max-width: 100%;
                }
            }
        }
        .partners-title {
            color: #fff;
            font-size: 17px;
            padding-top: 27px;
        }
    }
    .bottom {
        width: 100%;
        min-height: 77px;
        border-top: 1px dashed #0a0c14;
        background: #959595;
        color: #c8c8c8;
        @media screen and (max-width: 970px) {
            padding: 25px 0;
        }
        a {
            color: #c8c8c8;
        }
        span {
            display: block;
        }
        .created {
            font-size: 14px;
            padding: 16px 0 12px 0;
        }
        .col-md-6 {
            @media screen and (max-width: 970px) {
                text-align: center;
            }
        }
        .pull-right {
            text-align: right;
            font-size: 14px;
            padding-top: 11px;
            @media screen and (max-width: 970px) {
                text-align: center;
                float: none !important;
            }
        }
        .col-md-2 {
            padding-top: 11px;
            @media screen and (max-width: 970px) {
                text-align: center;
            }
        }
        img {
            width: 55px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            height: 55px;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            &:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }
}

.contact-word-icon {
    img {
        width: 52px;
        margin-right: 10px;
        margin-left: 6px;
    }
    a {
        color: #333;
    }
}