@font-face {
    font-family: 'BPG Nateli Mtavruli';
    src: url('../../fonts/bpg-nateli-mtavruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/bpg-nateli-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/bpg-nateli-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/bpg-nateli-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/bpg-nateli-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/bpg-nateli-mtavruli-webfont.svg#bpg_nateli_mtavruliregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Arial GEO';
    src: url('../../fonts/arial-geo-webfont.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/arial-geo-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/arial-geo-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/arial-geo-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/arial-geo-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/arial-geo-webfont.svg#arial_georegular') format('svg'); /* Legacy iOS */
}
