@import "../vendors/variables"; //variables scss files
.pagination {
    margin: 55px auto;
    display: block;
    text-align: center;
    .pagination-list {
        margin: 0 auto;
        padding: 0;
        display: inline-block;
    }
    li {
        list-style: none;
        display: inline-block;
        text-align: center;
        &:last-child {
            .pagenav {
                border-right: 1px solid #a09f9f;
            }
        }
    }
    .pagenav {
        width: 35px;
        height: 35px;
        display: block;
        background: #fff;
        border: 1px solid #a09f9f;
        border-right: none;
        color: #333;
        padding: 8px 0;
        font: {
            family: $paragraph;
            size: 13px;
        }
    }
    span {
        background: #80ba26 !important;
        color: #fff !important;
        cursor: default;
    }
}