.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
    display: flex;
    align-items: center;
    display: none;
}

.modal__flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.modal-container {
    position: relative;
    width: 830px;
    max-height: 100%;
    overflow: auto;
    background: #d9d8d8;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 40px 30px 20px 30px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.52);
    .fa-window-close {
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: .2;
        cursor: pointer;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        &:hover {
            opacity: 1;
        }
    }
    .modal__content {
        width: 100%;
        margin: auto;
        display: none;
        &.active {
            display: block;
        }
    }
    .form-group {
        margin: 0 auto 15px;
        &.has-error {
            .form-control {
                border-color: #a94442;
            }
        }
        &.selectbox {
            padding: 100px 0;
        }
    }
    .form-control {
        height: 55px;
        border-radius: 18px;
        border: 1px solid #b7b7b7;
        -webkit-appearance: none;
        -moz-appearance: none;
        // min-width: 375px;
        box-shadow: none;
        font-size: 14px;
        font-family: $paragraph;
        &.not-valid {
            border-color: #f00;
        }
    }
    #check {
        width: 20px;
        height: 20px;
    }
    select {
        background: #fff url('../../../assets/img/modal_select.png') no-repeat right;
        max-width: 375px;
        margin: auto;
    }
    h1 {
        font-family: $title;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        margin: 3px 0 10px 0;
    }
    .btn-primary {
        height: 55px;
        background: #80ba26;
        box-shadow: none;
        border-color: #b7b7b7;
        border-radius: 18px;
        font-family: $paragraph;
        display: flex;
        align-items: center;
        justify-content: center;
        &.disabled {
            background: #b7b7b7;
        }
        &:active:hover {
            background-color: #548a00;
            border-color: #6f6f6f;
        }
    }
}